.idea
*.iml
*.log
**/target
**/logs
.project
.classpath
lib/
bin/
*.DS_Store
git.properties
.settings
.factorypath
rebel.xml
core/src/test/resources/bootstrap.properties
core/src/test/resources/logback-test.xml